@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1012px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-content {
    max-width: 680px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.53;
    color: #000;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 64px 0;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}

/* product */

.product__wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.product__content p + p{
    margin-top: 20px;
}

.product__img img{
    width: 100%;
}

.product__img-text p {
    font-size: 15px;
    line-height: 1.6;
}

.product__img-text p + p {
    margin-top: 20px;
}

.product__info p {
    margin-bottom: 20px;
}

.product__info h5{
    margin-bottom: 12px;
}

.product__info ol {
    padding-left: 32px;
}

.product__info li + li {
    margin-top: 12px;
}


/* wildberries */

.wildberries__wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.wildberries__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wildberries__info span {
    font-weight: 700;
}

.wildberries__info-block {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.wildberries__info-block a {
    font-size: 13px;
    color: #0068ff;
    cursor: pointer;
}

.wildberries__articles {
    position: relative;
    overflow: hidden;
    padding: 28px 32px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.wildberries__articles::after {
    position: absolute;
    object-fit: cover;
    content: '';
    width: 155px;
    height: 48px;
    top: -18px;
    right: 46px;
    transform: rotate(-45deg);
    background-image: url(./../img/wildberries/arrow-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wildberries__articles li {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 6px 0 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.wildberries__articles a {
    font-size: 17px;
    color: #0068ff;
}

.articles__title {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 1.36;
    font-weight: 700;
}

.articles__title span {
    border-bottom: 1px solid #ccc;
}


/* expedition */

.expedition__wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.expedition__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.expedition__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.expedition__top-block__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expedition__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expedition__top-artical {
    flex-basis: 264px;
}

.expedition__top-artical a {
    font-size: 13px;
    color: #0068ff;
}

.expedition__quote {
    padding-left: 32px;
    border-left: 1px solid #000;
}

.expedition__quote-text {
    margin-bottom: 24px;
}

.expedition__quote-text p + p {
    margin-top: 20px;
}

.expedition__quote-author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.expedition__quote-name {
    font-size: 15px;
    line-height: 1.33;
    font-weight: 700;
}

.expedition__quote-descr {
    font-size: 13px;
}







@media (max-width: 769px) {
    .main {
        gap: 48px;
        padding: 48px 0;
    }
    .container {
        padding: 0 80px;
    }
    .title {
        font-size: 24px;
        line-height: 1;
    }
    .product__wrapper {
        gap: 28px;
    }
    .product__content p + p {
        margin-top: 16px;
    }
    .product__img img {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw;
    }
    .wildberries__info {
        gap: 16px;
    }
    .wildberries__info span {
        font-weight: 400;
    }
    .wildberries__info-block {
        flex-direction: column;
        gap: 16px;
    }
    .wildberries__info-block a {
        padding-left: 44px;
        max-width: 380px;
        line-height: 1.38;
    }
    .articles__title {
        font-size: 19px;
    }
    .wildberries__articles::after {
        top: -20px;
        right: 20px;
    }
    .expedition__wrapper {
        gap: 28px;
    }
    .expedition__text {
        gap: 16px;
    }
    .expedition__top-artical {
        padding-left: 32px;
        flex-basis: 380px;
        line-height: 1.38;
    }
    .expedition__top-block {
        gap: 16px;
    }
}

@media (max-width: 321px) {
    .container {
        padding: 0 16px;
    }
    .wildberries__info-block a {
        padding-left: 32px;
        max-width: 169px;
    }
    .wildberries__articles {
        padding: 20px 16px;
    }
    .wildberries__articles::after {
        top: -28px;
        right: -94px;
    }
    .wildberries__articles img {
        display: none;
    }
    .expedition__top-artical,
    .expedition__top-artical img {
        max-width: 169px;
    }
    .expedition__quote {
        padding-left: 16px;
    }
    .wildberries__articles li:nth-child(n + 4) {
        display: none;
    }
}